<% var checked = task.get("completed") === true ? "checked" : "" %>
<input type="checkbox" class="task-item" data-task-id="<%= task.id %>" <%= checked %>></input>
<%= task.escape("title") %>
<a class="task-item-delete" style="cursor: pointer">&#x2716;</a>