// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$x-color: #F05B4F;
$faded: #868682;

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    padding: 1em 2em;
    border-bottom: .1em solid;
    overflow: hidden;
    position: relative;

    input[type=checkbox]:checked + label {
      text-decoration: line-through;
      color: $faded;
    }

    input.task-item {
      display: block;
      float: left;
      width: 2em;
    }

    label {
      display: block;
      padding: 0 2em;
    }

    a {
      position: absolute;
      right: 0;
      top: 0;
      margin: 1em 2em;
      color: $x-color;
    }
  }
}

form {
  padding: 1em 2em;
  text-align: center;

  input#add-task {
    width: 80%;
    height: 1.5em;
  }
}